body {
  background-color: #1b191e;
  color: ivory;
  font-family: 'Courier New', Courier, monospace;
}

.intro {
  text-align: center;
  margin:auto;
}

.intro h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 50pt;
  line-height:0px;
  padding:80px 0px 10px 0px;
  box-sizing: border-box;
}

.intro h2 {
  text-transform: lowercase;
  line-height: 0px;
  padding-bottom:40px;
  font-size:1.4em;
  font-weight:bold;
  margin-top:-10px;
}

.intro h3 {
  text-transform: lowercase;
  font-weight: 500;
  line-height:0px;
}

.intro img {
  width:101%;
  margin:auto;
}

.intro2 h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30pt;
  padding: 0% 0% 0% 1.5%;
  }

.backButton a {
  font-size: 15pt;
  font-weight: bold;
  text-decoration:none;
  color:yellowgreen;
  padding: 0% 0% 0% 5%;
}

.backButton a:hover {
  font-weight: bold;
  text-decoration:underline;
  color:rgb(91, 122, 29);
  padding: 0% 0% 0% 5%;
}

.portrait {
  width:200px;
  background-image: url(/img/ring-inner1b.png);
  background-repeat:no-repeat;
  margin: auto;
}

.portrait:hover {
  background-image: url(/img/ring-inner2.png);
  background-repeat:no-repeat;
  margin: auto;
}

.projects h1 {
  font-size:2em;
  text-transform: uppercase;
  font-weight:500;
  text-align: center;
  padding: 30px 0px;
}

.projects a {
  text-decoration: none;
  color:rgb(171, 207, 193);
}

.projects a:hover {
  text-decoration:underline;
  color:ivory;
  font-weight:bold;
}

.projects ul li {
  list-style-image: url(/img/bullet.png);
}

.box {
  width: 70%;
  margin:auto;
}

.column {
  width: 30%;
  float: left;
  box-sizing: border-box;
  padding: 0% 10px 10px 0%;
  margin: 0% 1% 2% 2%;
  background-color: #3c4043;
}

.column li {
  line-height: 20pt;
  padding-bottom:10pt;
}

.descrip {
  font-size: 9pt;
  line-height:10pt;
}

.descrip2 {
  font-size: 9pt;
  line-height:10pt;
  margin-top:0px;
  width:500px;
}

.highlight {
  background-color: yellowgreen;
  color:#1b191e;
}

.pgraph {
  width:70%;
  margin:auto;
  padding-bottom:20px;
  text-align:justify;
}

.pgraphEmph {
  width:70%;
  margin:auto;
  padding-top:20px;
  text-align:center;
  font-style: italic;
  color:yellowgreen;
}

.contact {
  width:50%;
  margin:auto;
  padding:20px 0px;
  font-weight: bold;
}

.contact a {
  text-decoration: none;
  color:ivory;
}

.contact a:hover {
  font-weight:100;
  color:yellowgreen;
}

.buttonHolder {
  margin-left:15%;
  padding: 20px 0px;
}

.button {
  background-color:rgb(171, 207, 193);
  color:#1b191e;
  font-weight:bold;
  padding:15px 22px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:18px;
  margin:4px 2px;
  transition-duration: 0.8s;
}

.button:hover {
  background-color:ivory;
}

h3 {
  font-size:1.17em;
  font-weight:bolder;
  padding: 20px 0px;
}